.homepage {
  // add extra 5px to avoid scroll bar
  height: calc(100vh - $header-height - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
