// Colors
$green: #6aaa64;
$darkendGreen: #538d4e;
$yellow: #c9b458;
$darkendYellow: #b59f3b;
$lightGray: #d3d6da;
$gray: #dfdfdf;
$gray-2: #dcdcdc;
$gray-3: #86888a;
$darkGray: #939598;
$white: #fff;
$black: #363636;
$black-2: #121212;
$black-3: #212121;
$orange: #f5793a;
$blue: #85c0f9;

// Font
$font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

$header-height: 40px;
$header-padding-x: 0 16px;
